header {
    
    /* border: 1px solid yellow; */
    height: 125vh;
    padding-top: 1rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ------------ CTA ------------ */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ------------- HeaderSocials -------------*/
.header__socials {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 10rem;
    font-size: 2.4rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ----------- ME ------------- */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    /* border: 1px solid; */
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    /* left: 50%; */
    /* transform: translateX(-50%); */
    margin-top: 4rem;
    /* display: flex; */
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}

/* -------- Scroll Down ----------- */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 13.5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.5rem;
}

/* ------------ Media Queries (Medium Devices) -----------

@media screen and (max-width : 2400px) {

    header {
        height: 90vh;
    }
    .header__socials{
        
        bottom: 4rem;
    }
    .scroll__down {
        bottom: 6rem;
    }

}
@media screen and (max-width : 2000px) {

    header {
        height: 90vh;
    }
    .header__socials{
        
        bottom: 4rem;
    }
    .scroll__down {
        bottom: 6rem;
    }

}
@media screen and (max-width : 1310px) {

    header {
        height: 92vh;
    }
    .header__socials{
        
        bottom: 5rem;
    }
    .scroll__down {
        bottom: 9rem;
    }

}

/* ------------ Media Queries (Medium Devices) ----------- */
/*
@media screen and (max-width : 1280px) {

    header {
        height: 95vh;
    }
    .header__socials{
        
        bottom: 6rem;
    }
    .scroll__down {
        bottom: 10rem;
    }

}
*/
@media screen and (max-width : 1024px) {

    header {
        height: 125vh;
    }
    .header__socials{
        
        bottom: 6rem;
    }
    .scroll__down {
        bottom: 10rem;
    }

}




/* ------------ Media Queries (Small Devices) ----------- */
/*
@media screen and (max-width : 912px) {

    header {
        height: 55vh;
    }
    .header__socials{
        
        bottom: 5rem;
    }
    .scroll__down {
        bottom: 10rem;
    }
}
@media screen and (max-width : 820px) {

    header {
        height: 65vh;
    }
    .header__socials{
        
        bottom: 5rem;
    }
    .scroll__down {
        bottom: 10rem;
    }
}
@media screen and (max-width : 768px) {

    header {
        height: 75vh;
    }
    .header__socials{
        
        bottom: 5rem;
    }
    .scroll__down {
        bottom: 10rem;
    }
}

*/
@media screen and (max-width : 600px) {

    header {
        /* border: 1px solid; */
        height: 138vh;
    }

    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 8vw;
    }
    .scroll__down {
        bottom: .5rem;
        transform: rotate(360deg);
        right: 8vw;
        font-size: 1.4rem;
    }
}
@media screen and (max-width : 700px) {
    header {
        /* border: 1px solid; */
        height: 138vh;
    }
    
}
/*
@media screen and (max-width : 540px) {

    header {
        
        height: 115vh;
    }

    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 7rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 7rem;
        font-size: 1.4rem;
    }
}

@media screen and (max-width : 500px) {

    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 4rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 4rem;
        font-size: 1.4rem;
    }
}
@media screen and (max-width : 400px) {

    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 3rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 3rem;
        font-size: 1.4rem;
    }
}

@media screen and (max-width : 414px) {

    header {
        
        height: 90vh;
    }
    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 3rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 3rem;
        font-size: 1.4rem;
    }
}
@media screen and (max-width : 394px) {

    header {
        
        height: 95vh;
    }
    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 3rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 3rem;
        font-size: 1.4rem;
    }
}
@media screen and (max-width : 375px) {

    header {
        
        height: 120vh;
    }
    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 3rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 3rem;
        font-size: 1.4rem;
    }
}
@media screen and (max-width : 360px) {

    header {
        
        height: 110vh;
    }
    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 3rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 3rem;
        font-size: 1.4rem;
    }
}

@media screen and (max-width : 250px) {

    header {
        
        height: 110vh;
    }
    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 2rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 2rem;
        font-size: 1.4rem;
    }
}
@media screen and (max-width : 280px) {

    header {
        
        height: 130vh;
    }
    .header__socials{
        padding: 0;
        font-size: 2rem;
        bottom: .1rem;
        display: flex;
        flex-direction: row;
        left: 1rem;
    }
    .scroll__down {
        bottom: 1rem;
        transform: rotate(360deg);
        right: 1rem;
        font-size: 1.4rem;
    }
} */