#portfolio {
    
    /* border: 1px solid yellow; */
    height: fit-content;
    padding-top: 6vw;
    padding-bottom: 1vw;
}

.portfolio__container {

    width: 90vw;
    /* border: 1px solid yellow; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-varient);
    background: transparent;
}



.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    font-size: 1.2vw;
    text-align: justify;
    margin: 1.2rem 0 1rem;
}

.portfolio__item h4 {
    text-align: justify;
    font-size: 1.2vw;
    margin: 1rem 0 1rem;
}

.portfolio__item-cta {
    /* border: 1px solid; */
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}



/* ---------------- Media Queries (Medium Devices) -------------- */

@media screen and (max-width : 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .portfolio__item h3 {
        /* border: 1px solid; */
        font-size: 1.5vw;
        text-align: justify;
        margin: 1.2rem 0 1rem;
    }
    
    .portfolio__item h4 {
        /* border: 1px solid; */
        text-align: justify;
        font-size: 1.5vw;
        margin: 1rem 0 1rem;
    }
}

/* ----------------- Media Queries (Small Devices) ----------- */



@media screen and (max-width : 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .portfolio__item {
        background: var(--color-bg-variant);
        padding: 3.5vw;
        border-radius: 2rem;
        
        border: 1px solid transparent;
        transition: var(--transition);
    }  
    .portfolio__item-image {
        border-radius: 1.5rem;
        overflow: hidden;
    }
    .portfolio__item-cta {
        /* border: 1px solid; */
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    .portfolio__item h3 {
        /* border: 1px solid; */
        font-size: 3vw;
        text-align: justify;
        margin: 1.2rem 0 1rem;
    }
    
    .portfolio__item h4 {
        /* border: 1px solid; */
        text-align: justify;
        font-size: 3vw;
        margin: 1rem 0 1rem;
    }
}